.Header{
    display: flex;
    width: 100%;
    height: auto;
    background-color:#3584cb;
    margin-bottom: 30px;
    padding: 15px;
}
.logo{
        width: 39%;
        display: flex;
}
.logo p{

        color: white;
        font-size:20px;
        float: right;
        padding-top:20px ;
}
.logo img{
    width: 90px;
    height: auto;
}
.nav-menu{
    width: 60%;
    padding-top: 1rem;
}
.nav-menu ul{
    display: flex;
    text-transform:capitalize;
}
.nav-menu li{
    list-style: none;

}
.nav-menu a{
    color: white;
    text-decoration: none;
    padding: 0 2rem;
}
.nav-menu a:hover{
    font-size:17px;
}
