.footer{
    display: flex;
    background-color:#3584cb;
    width:100%;
    height: auto;
    color: white;
    text-align: left;
    padding: 40px;
    column-count: 2;
    column-gap: 50px;
}
.Useful-link{
    width: 49%;
}
.Useful-link p{
    border-bottom: 1px solid white;
    padding-bottom: 4px;
}
.Useful-link a{
        text-decoration: none;
        color: white;
}
.Useful-link a:hover{
      border-bottom: 1px solid white; 
}
.Useful-link li{
    list-style: none; 
    padding-top: 6px;
}
.infos{
    width: 39%;
}
.infos p{
    padding-bottom: 4px;
    border-bottom: 1px solid white;
}

.infos li{
    list-style: none;
    padding-top: 6px;
    text-align: left;
}
.bottom{
    height: auto;
    padding: 5px;
    background-color: #063e6f;
    color: white;
    text-align: center;
}